Question 2 - Dataset Description
It is a well-known fact that Millenials LOVE Avocado Toast. It's also a well known fact that all
Millenials live in their parents basements.

Clearly, they aren't buying home because they are buying too much Avocado Toast!

But maybe there's hope... if a Millenial could find a city with cheap avocados, they could live out the
Millenial American Dream. Help them to filter out the clutter using some pre-processing techniques.

Some relevant columns in the dataset:

• Date - The date of the observation

• Average Price - the average price of a single avocado

• type - conventional or organic

• year - the year

• Region - the city or region of the observation

• Total Volume - Total number of avocados sold

• 4046 - Total number of avocados with PLU* 4046 sold

• 4225 - Total number of avocados with PLU* 4225 sold

• 4770 - Total number of avocados with PLU* 4770 sold

(Product Lookup codes (PLU’s)) *

a. Sort the attribute “Total Volume” in the given dataset and distribute the data into equal
sized/frequency bins. Let the number of bins be 250. Smooth the sorted data by

(i)bin-means

(ii) bin-medians

(iii) bin-boundaries

b. The dataset represents weekly retail scan data for National retail volume (units) and price. However,
the company is interested in knowing the monthly (total per month) and annual sales (total per year),
rather than the total per week. So, reduce the data accordingly.

c. Summarize the number of missing values for each attribute

d. Populate data for the missing values of the attribute= “Average Price” by averaging all the values of
the “Avg Price” attribute that fall under the same “REGION” attribute value.

e. Discretize the attribute= “Date” using concept hierarchy into {Old, New, Recent}
(Consider 2015,2016 : Old, 2017: New, 2018: Recent).

In [1]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt

In [2]:
Avacado_data = pd.read_csv('Avocado Dataset.csv')

In [3]:
Avacado_data.head()

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,27-12-2015,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,20-12-2015,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,13-12-2015,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,06-12-2015,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,29-11-2015,1.29,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [5]:
Total_Volume = list(Avacado_data['Total Volume'])

In [6]:
Total_Volume = sorted(Total_Volume)

In [7]:
print(Total_Volume[:10])

[84.56, 379.82, 385.55, 419.98, 472.82, 482.26, 515.01, 530.96, 542.85, 561.1]

In [8]:
Bins = []
Size = 250

for i in range(int(len(Total_Volume)/Size)):
    Bins.append(Total_Volume[Size*i: Size*i + Size] )

In [9]:
print("Bin Size: ", len(Bins[0]))

Bin Size:  250

In [11]:
Mean_Bins = []

for i in Bins:
    Mean = np.array(i).mean()
    Mean_Bins.append([Mean]*Size)

In [12]:
print("Mean Bin Size: ", len(Mean_Bins[0]))

Mean Bin Size:  250

In [15]:
Median_Bins = []

for j in Bins:
    Median = np.median(np.array(j))
    Median_Bins.append([Median]*Size)

In [16]:
print("Median Bin Size: ", len(Median_Bins[0]))

Median Bin Size:  250

In [17]:
Boundary_Bins = []

for k in Bins:
    bins = []
    for val in k:
        if((val - k[0])<=(k[249] - val)):
            bins.append(k[0])
        else:
            bins.append(k[249])
    Boundary_Bins.append(bins)

In [18]:
print("Boundary Bin Size: ", len(Boundary_Bins[0]))

Boundary Bin Size:  250

In [19]:
Dates = Avacado_data.loc[:,'Date']
Months = list(set([i[3:] for i in Dates]))

In [20]:
Dates

0        27-12-2015
1        20-12-2015
2        13-12-2015
3        06-12-2015
4        29-11-2015
            ...
18245    28-01-2018
18246    21-01-2018
18247    14-01-2018
18248    07-01-2018
18249    18-03-2018
Name: Date, Length: 18250, dtype: object

In [21]:
Months

['03-2018',
 '01-2018',
 '02-2015',
 '03-2015',
 '03-2016',
 '10-2017',
 '12-2016',
 '05-2015',
 '01-2015',
 '10-2016',
 '12-2017',
 '08-2017',
 '02-2016',
 '06-2015',
 '11-2017',
 '08-2015',
 '07-2016',
 '09-2016',
 '01-2017',
 '05-2017',
 '02-2017',
 '12-2015',
 '06-2016',
 '07-2017',
 '05-2016',
 '04-2015',
 '11-2016',
 '09-2017',
 '09-2015',
 '03-2017',
 '02-2018',
 '04-2017',
 '01-2016',
 '08-2016',
 '06-2017',
 '04-2016',
 '11-2015',
 '07-2015',
 '10-2015']

In [41]:
AveragePrice = pd.to_numeric(Avacado_data.iloc[:,1], errors='coerce')
Avacado_data['AveragePrice']

Month = []
AvgPrice = []
TotVolume =[]
Region = []

for i in Months:
    Monthly = Avacado_data.loc[Avacado_data['Date'].str.contains("[0-9][0-9]-"+i,na=False)].groupby('region').sum()
    Month.extend([i]*len(Monthly.index))
    AvgPrice.extend(list(Monthly['AveragePrice']))
    TotVolume.extend(list(Monthly['Total Volume']))
    Region.extend(list(Monthly.index.values))

In [44]:
MonthlyData = pd.DataFrame.from_dict({'Month':Month,'region':Region, 'AveragePrice':AvgPrice, "Total Volume":TotVolume})
MonthlyData.head()

     Month               region  AveragePrice  Total Volume
0  03-2018               Albany         11.65     550768.59
1  03-2018              Atlanta         10.16    2723324.59
2  03-2018  BaltimoreWashington         10.61    4157091.43
3  03-2018                Boise         12.04     388664.58
4  03-2018               Boston         12.64    2785537.88

In [45]:
Dates = Avacado_data.loc[:,'Date']
Years = list(set([i[6:] for i in dates]))

AveragePrice = pd.to_numeric(Avacado_data.iloc[:,1],errors='coerce')
Avacado_data['AveragePrice'] = AveragePrice

Year = []
AvgPrice = []
TotVolume = []
Region = []

for i in Years:
    Yearly = Avacado_data.loc[Avacado_data['Date'].str.contains("[0-9][0-9]-[0-9][0-9]-"+i,na=False)].groupby('region').sum()    
    Year.extend([i]*len(Yearly.index))
    AvgPrice.extend(list(Yearly['AveragePrice']))
    TotVolume.extend(list(Yearly['Total Volume']))
    Region.extend(list(Yearly.index.values))
    
YearlyData = pd.DataFrame.from_dict({'Year':year,'region':region,'Avg Price':AvgPrice,"Total Volume":TotVol})
YearlyData.head()

   Year               region  Avg Price  Total Volume
0  2016               Albany     159.53    5264335.59
1  2016              Atlanta     126.27   28326878.30
2  2016  BaltimoreWashington     165.11   40893802.32
3  2016                Boise     118.76    4653509.53
4  2016               Boston     148.32   30571315.07

In [46]:
Avacado_data.isnull().sum()

Date             0
AveragePrice    48
Total Volume     0
4046             0
4225             0
4770             0
Total Bags       0
Small Bags       0
Large Bags       0
XLarge Bags      0
type             0
year             0
region           0
dtype: int64

In [47]:
for i in range(len(Avacado_data)):
    if(np.isnan(Avacado_data.iloc[i]['AveragePrice'])):
        Avacado_data.iloc[i,1]=Avacado_data[Avacado_data['region']==Avacado_data.iloc[i]['region']]['AveragePrice'].mean()

In [48]:
Avacado_data.isnull().sum()

Date            0
AveragePrice    0
Total Volume    0
4046            0
4225            0
4770            0
Total Bags      0
Small Bags      0
Large Bags      0
XLarge Bags     0
type            0
year            0
region          0
dtype: int64

In [51]:
Discrete_Date = []
for i in range(len(Avacado_data)):
    Year = Avacado_data.iloc[i,0][6:]
    if(int(Year)<=2016):
        Discrete_Date.append('Old')
    elif(int(Year)==2017):
        Discrete_Date.append('New')
    elif(int(Year)==2018):
        Discrete_Date.append('Recent')
    else:
        Discrete_Date.append(np.nan)

In [52]:
Avacado_data = Avacado_data.drop(['Date'],axis=1)        
Avacado_data.insert(0,"Date",Discrete_Date)

In [53]:
Avacado_data

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,Old,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,Old,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,Old,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,Old,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,Old,1.29,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18245,Recent,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
18246,Recent,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
18247,Recent,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
18248,Recent,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico
18249,Recent,1.56,15896.38,2055.35,1499.55,0.00,12341.48,12114.81,226.67,0.0,organic,2018,WestTexNewMexico