Question 8 - Extend the application developed in (7) to support relative grading which uses the class average
(mean) and standard deviation to compute the cutoffs for various grades as opposed to fixing
them statically; you can refer the sample grader (excel sheet) attached to understand the
formulas for fixing the cutoffs; the grader would involve, mean, standard deviation, max mark,
passed students data mean, etc. Understand the excel grader thoroughly before you try
mimicking such an application in your development platform.
Formulas Required for Relative Grading:
Passing Minimum: 50% of class average. (Minimum marks for passing)
X= Passing Students’ Mean- Passing Minimum.
S_cutoff = Max_Mark – 0.1 *(Max_Mark-Passing Students Mean)
Y= S_cutoff – Passing Students Mean
A_cutoff = Passing Students Mean + Y * (5/8)
B_cutoff = Passing Students Mean + Y * (2/8)
C_cutoff = Passing Students Mean - X * (2/8)
D_cutoff = Passing Students Mean - X * (5/8)
E_cutoff = Passing Minimum
Maroon shows failure ( " U grade "); similar to a heatmap...cold to warm.
The color scheme is automatic and the least grade ends up with red-maroon shade

In [1]:
import random
from random import randint
import numpy as np
import pandas as pd

In [2]:
MidSem = [random.randint(0, 30) for i in range(20)]
EndSem = [random.randint(0, 50) for i in range(20)]
Assignments = [random.randint(0, 20) for i in range(20)]
TotalMarks = np.array([MidSem[i] + EndSem[i] + Assignments[i] for i in range(20)])
Grades = ['S', 'A', 'B', 'C', 'D', 'E', 'U']

In [3]:
Mean = TotalMarks.mean()
PassingMinimum = Mean/2
PassingMarks = TotalMarks[TotalMarks > PassingMinimum]
PassingMean = PassingMarks.mean()
MaximumMarks = TotalMarks.max()

In [4]:
Mean

48.0

In [5]:
PassingMinimum

24.0

In [6]:
PassingMarks

array([80, 67, 33, 42, 30, 42, 48, 59, 30, 53, 39, 82, 59, 32, 65, 67, 88])

In [7]:
PassingMean

53.88235294117647

In [8]:
MaximumMarks

88

In [23]:
X = PassingMean - PassingMinimum
S_cutoff = MaximumMarks - 0.1*(MaximumMarks - PassingMean)
Y = S_cutoff - PassingMean
A_cutoff = PassingMean + Y*(5/8)
B_cutoff = PassingMean + Y*(2/8)
C_cutoff = PassingMean - X*(2/8)
D_cutoff = PassingMean - X*(5/8)
E_cutoff = PassingMinimum

In [24]:
S_cutoff

84.58823529411765

In [25]:
A_cutoff

73.07352941176471

In [26]:
B_cutoff

61.55882352941177

In [27]:
C_cutoff

46.411764705882355

In [28]:
D_cutoff

35.205882352941174

In [22]:
E_cutoff

24.0

In [30]:
def RelativeGrading(TotalMarks):
    if(TotalMarks >= S_cutoff):
        return('S')
    elif(TotalMarks >= A_cutoff):
        return('A')
    elif(TotalMarks >= B_cutoff):
        return('B')
    elif(TotalMarks >= C_cutoff):
        return('C')
    elif(TotalMarks >= D_cutoff):
        return('D')
    elif(TotalMarks >= E_cutoff):
        return('E')
    else:
        return('U')

Grade = []
for i in range(20):
    Grade.append(RelativeGrading(TotalMarks[i]))

In [31]:
frequency = {}
frequency['S'] = 0
frequency['A'] = 0
frequency['B'] = 0
frequency['C'] = 0
frequency['D'] = 0
frequency['E'] = 0
frequency['U'] = 0

for i in Grade:
    if i in Grades:
        frequency[str(i)] += 1

In [32]:
frequency

{'S': 1, 'A': 2, 'B': 3, 'C': 4, 'D': 3, 'E': 4, 'U': 3}

In [33]:
data = pd.DataFrame(frequency.items(), columns = ['Grade', 'Frequency'])
data

  Grade  Frequency
0     S          1
1     A          2
2     B          3
3     C          4
4     D          3
5     E          4
6     U          3

In [34]:
marks_list = pd.DataFrame({"Marks":TotalMarks, "Grade":Grade})
marks_list.style.background_gradient(cmap = 'Spectral')