Question 7 - Develop an application (absolute grader) that accepts marks scored by 20 students in ASBD
course (as a split up of three: Mid Sem (30), End Sem (50) and Assignments(20). Compute the
total and use it to grade the students following absolute grading: >=90 – S ; >=80 – A and so on
till D. Compute the Class average for total marks in the course and 50% of class average would
be fixed as the cut off for E. Generate a frequency table for the grades as well (Table displaying
the grades and counts of them). Maroon shows failure ( " U grade "); similar to a heatmap...cold to warm.
The color scheme is automatic and the least grade ends up with red-maroon shade

In [57]:
import random
from random import randint
import numpy as np
import pandas as pd

In [51]:
MidSem = [random.randint(0, 30) for i in range(20)]
EndSem = [random.randint(0, 50) for i in range(20)]
Assignments = [random.randint(0, 20) for i in range(20)]
TotalMarks = np.array([MidSem[i] + EndSem[i] + Assignments[i] for i in range(20)])
Grades = ['S', 'A', 'B', 'C', 'D', 'E', 'U']

def AbsoluteGrading(TotalMarks, average):
    if(TotalMarks >= 90):
        return('S')
    elif(TotalMarks >= 80):
        return('A')
    elif(TotalMarks >= 70):
        return('B')
    elif(TotalMarks >= 60):
        return('C')
    elif(TotalMarks >= 50):
        return('D')
    elif(TotalMarks >= (average/2)):
        return('E')
    else:
        return('U')

Grade = []
for i in range(20):
    Grade.append(AbsoluteGrading(TotalMarks[i], TotalMarks.mean()))

frequency = {}
frequency['S'] = 0
frequency['A'] = 0
frequency['B'] = 0
frequency['C'] = 0
frequency['D'] = 0
frequency['E'] = 0
frequency['U'] = 0

for i in Grade:
    if i in Grades:
        frequency[str(i)] += 1

In [52]:
MidSem

[17, 0, 8, 19, 20, 18, 9, 12, 29, 9, 22, 25, 21, 11, 2, 17, 17, 17, 24, 8]

In [53]:
EndSem

[30, 23, 46, 22, 16, 10, 29, 19, 50, 8, 8, 39, 7, 0, 47, 38, 16, 27, 11, 48]

In [54]:
Assignments

[4, 5, 8, 19, 1, 11, 4, 6, 14, 3, 3, 17, 9, 15, 6, 7, 3, 15, 0, 17]

In [55]:
TotalMarks

array([51, 28, 62, 60, 37, 39, 42, 37, 93, 20, 33, 81, 37, 26, 55, 62, 36,
       59, 35, 73])

In [56]:
frequency

{'S': 1, 'A': 1, 'B': 1, 'C': 3, 'D': 3, 'E': 10, 'U': 1}

In [58]:
data = pd.DataFrame(frequency.items(), columns = ['Grade', 'Frequency'])
data

  Grade  Frequency
0     S          1
1     A          1
2     B          1
3     C          3
4     D          3
5     E         10
6     U          1

In [62]:
marks_list = pd.DataFrame({"Marks":TotalMarks, "Grade":Grade})
marks_list.style.background_gradient(cmap = 'Spectral')